recursive-include \
  assets \
  tests \
  torrentfileQt \

include \
  *.ini \
  LICENSE \
  MANIFEST.in \
  Makefile \
  README.md \
  py.typed \
  pyproject.toml \
  setup.* \
  *.yml \
  *.json \
  requirements.txt \



graft docs

global-exclude \
  *.py[co] \
  .DS_Store \

prune **/__pycache__
prune docs/build
