include LICENSE
include README
include Makefile
recursive-include assets
recursive-include tests *
recursive-include torrentfileQt
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyd
recursive-exclude * *.pyo
recursive-exclude * *.pyo
recursive-exclude * empty
