coverage==5.5
isort==5.9.3
pyben==0.2.3
pycodestyle==2.7.0
pydocstyle==6.1.1
PyQt6==6.2.0
PyQt6-Qt6==6.2.0
PyQt6-sip==13.1.0
pyroma==3.2
pytest==6.2.4
pytest-cov==2.12.1
requests==2.26.0
snowballstemmer==2.1.0
torrentfile==0.4.1
